# Unreal Engine 기본
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/
.vscode/
*.log
*.tmp
*.user
*.userprefs
*.ilk
*.pdb
*.obj
*.exe
*.dll
*.app
*.dylib
*.lib
*.so
*.a
*.lo
*.la
*.xcodeproj
*.xcworkspace
*.zip
*.mp4
*.mkv
*.msix
